<!-- 
    replace all li's and datalist with ejs loops over arrays
    add direction selection to wave animation
    color inputs as divs with background color and set height and width
    option to add color inputs
 -->

<% include partials/header %>

<datalist id="colors">
    <option value="#ffffff">
    <option value="#ff0000">
    <option value="#00ff00">
    <option value="#0000ff">
    <option value="#ffff00">
    <option value="#00ffff">
    <option value="#ff00ff">
</datalist>

<div id="inputForm">
    <form action="post" method="post">
        <div id='settings'>
            <div id="triggers">
                <label for="name">Input: </label>
                <select name="name" id="input" onchange="changeOptionValue()">
                    <option value="hi-hat-closed">Closed Hi-Hat</option>
                    <option value="hi-hat-open">Open Hi-Hat</option>
                    <option value="hi-hat-close">Hi-Hat Pedal</option>
                    <option value="crash">Crash</option>
                    <option value="ride">Ride</option>
                    <option value="snare">Snare</option>
                    <option value="kick">Kick</option>
                    <option value="tom1">Tom 1</option>
                    <option value="tom2">Tom 2</option>
                    <option value="tom3">Tom 3</option>
                </select>
            </div>
            <div id="animations">
                <label for="animation">Animation: </label>
                <select name="animation" id="animation" onchange="changeInputType()">
                    <option value="flash">Flash</option>
                    <option value="bright-wave">Brightness Wave</option>
                    <option value="wave">Color Wave</option>
                    <option value="instant">Instant Color</option>
                </select>
            </div>
            <div id="option">
                <label for="percent"></label>
                <input type="range" name="option"></input>
                <input type="color" name="option" list="colors" disabled></input>
                <input type="color" name="option" list="colors" disabled></input>
                <input type="color" name="option" list="colors" disabled></input>
                <input type="color" name="option" list="colors" disabled></input>
            </div>
        </div>
        <div id='button'><input type="submit" value="Submit"></input></div>
    </form>
</div>
<br>
<div id="columns">
    <% for (let trigger in drums){ %>
    <figure id=<%= trigger %>>
        <h2><%= trigger %></h2>
        <% for (let animation in drums[trigger]){ %>
            <li id=<%= trigger + '_' + animation %> data-value=<%= drums[trigger][animation] %>>
                <span><%= animation %></span>
                <span><%= drums[trigger][animation] %></span>
                <form action=<%= "delete?trigger=" + trigger + "&animation=" + animation %> method="post">
                        <button>Delete</button>
                </form>
            </li>
        <% } %>
    </figure>
    <% } %>
</div>

<script src="script.js"></script>
<% include partials/footer %>
