<!-- 
    add direction selection to wave animation
    color inputs as divs with background color and set height and width
    option to add color inputs
 -->

<% include partials/header %>

<datalist id="colors">
<% colors.forEach((color) => { %>
    <option value=<%= color %>>
<% }); %>
</datalist>

<div id="inputForm">
    <form action="post" method="post">
        <div id='settings'>
            <div id="triggers">
                <label for="name">Input: </label>
                <select name="name" id="input" onchange="changeOptionValue()">
                <% for (let key in triggers) { %>
                    <option value=<%= key %>><%= triggers[key] %></option>
                <% }%>
                </select>
            </div>
            <div id="animations">
                <label for="animation">Animation: </label>
                <select name="animation" id="animation" onchange="changeInputType()">
                <% for (let key in animations) {%>
                    <option value=<%= key %>><%= animations[key] %></option>
                <% } %>
                </select>
            </div>
            <div id="option">
                <label for="percent"></label>
                <input type="range" name="option"></input>
                <input type="color" name="option" list="colors" disabled></input>
                <input type="color" name="option" list="colors" disabled></input>
                <input type="color" name="option" list="colors" disabled></input>
                <input type="color" name="option" list="colors" disabled></input>
            </div>
        </div>
        <div id='button'><input type="submit" value="Submit"></input></div>
    </form>
</div>

<br>

<div id="columns">
    <% for (let trigger in drums){ %>
    <figure id=<%= trigger %>>
        <h2><%= trigger %></h2>
        <% for (let animation in drums[trigger]){ %>
            <li id=<%= trigger + '_' + animation %> data-value=<%= drums[trigger][animation] %>>
                <span><%= animation %></span>
                <%
                    let arr = drums[trigger][animation];
                    let returnValue = '';
                    if ( Array.isArray(arr) ) {
                        arr.forEach((color) => { console.log(color);%>
                            <div class = "colorSquare" style="background-color: <%= color %>"></div>
                <%      });
                    } else {
                        returnValue = drums[trigger][animation];
                    }
                %>
                <span>
                    <%= returnValue %>
                </span>
                <form action=<%= "delete?trigger=" + trigger + "&animation=" + animation %> method="post">
                        <button>Delete</button>
                </form>
            </li>
        <% } %>
    </figure>
    <% } %>
</div>

<script src="script.js"></script>
<% include partials/footer %>
